page-ajouter {

  #save{
    float:left;
    margin-bottom:20px;
    margin-top:20px;
    padding:10px;
    background:lightblue;
    margin-left:20px;
  }

  #cancel{
    float:right;
    margin-bottom:20px;
    margin-top:20px;
    padding:10px;
    background:red;
    margin-right:20px;
  }
}
